/*

###############--COLOR LOVER--###############
Ruggedby kaysabelle RGB - 16,86,121 - 105679
Beach Waterby donna doodle RGB - 55,120,148 - 377894
9ba7bcby superchicami RGB - 155,167,188 - 9BA7BC
violetby Ladizme RGB - 202,177,191 - CAB1BF
Adelaideby marangpi RGB - 245,197,214 - F5C5D6
#############################################
*/

.navbar{
	margin-bottom: 0;
	background-color: #105679;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand{
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.jumbotron{
	background-color: #105679;
	color: #ffffff;
	text-align: center;
	padding: 100px 25px;
}

.container-fluid{
	padding: 60px 50px;	
	text-align: center;
}

.logo{
	color: #CAB1BF;
	font-size: 200px;
}

.logo-small{
	color: #F5C5D6;
	font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	
	.col-sm-4{
		text-align: center;
		margin: 25px 0;
	}
}